li:hover {
    background-color: #01579B;

}

* {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

#addNewDiv {
    margin-left: 14px;
}

/* fix modal too long*/
.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    max-height: 550px;
    overflow-y: auto;
}

/**/